@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pe Groapei<br />
    Ferentari, RO 98052-6399<br />
    <abbr title=" ">Telefon:</abbr>
    0712112112
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:JohnPedala@example.com">admin@rmMoto.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@rmMoto.com</a>
</address>