@{
    ViewBag.Title = "rmMoto";
}

<div class="jumbotron">
    <h1>rmMoto</h1>
    <p class="lead">Nu mai merge motorul? S-a uzat echipamentul? Noi te putem ajuta. Cele mai bune piese de pe viata.</p>
    <p class2="lead">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Produsele disponibile si online! </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lista producatorilor
        </p>
        <p><a class="btn btn-default" href="https://www.motociclisti.ro/producatori-motociclete/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Distribuitor</h2>
        <p>Unix impreuna cu rmMoto va aduc in showroom calitatea 1 din intregul domeniu al motociclismului (motociclete, piese, casti, viziere, combinezoane)</p>
        <p><a class="btn btn-default" href="https://www.unixauto.ro/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>